awsebcli==3.4.6
backports.ssl-match-hostname==3.4.0.2
boto==2.38.0
cement==2.4.0
dj-database-url==0.3.0
dj-static==0.0.6
Django==1.8.2
django-appconf==1.0.1
django-compressor==1.5
django-secure==1.0.1
django-storages==1.1.8
django-toolbelt==0.0.1
django-wysiwyg-redactor==0.4.8.1
docker-py==1.1.0
dockerpty==0.3.4
docopt==0.6.2
gunicorn==19.3.0
jmespath==0.7.1
oauthlib==0.7.2
pathspec==0.3.3
Pillow==2.8.2
psycopg2==2.6.1
python-dateutil==2.4.2
pytz==2015.4
PyYAML==3.11
requests==2.6.2
requests-oauthlib==0.5.0
requests-toolbelt==0.4.0
six==1.9.0
static3==0.6.1
texttable==0.8.3
websocket-client==0.32.0
wheel==0.24.0
