container_commands:
    01_migrate:
        command: "source /opt/python/run/venv/bin/activate && python hc/manage.py migrate --noinput"
        leader_only: true
    
    02_createsu:
        command: "source /opt/python/run/venv/bin/activate && python hc/manage.py createsu"
        leader_only: true
        
    03_collectstatic:
        command: "source /opt/python/run/venv/bin/activate && python hc/manage.py collectstatic --noinput"

option_settings:
    "aws:elasticbeanstalk:application:environment":
        DJANGO_SETTINGS_MODULE: "hc.settings"
        "PYTHONPATH": "/opt/python/current/app/hc:$PYTHONPATH"
        "ALLOWED_HOSTS": [".elasticbeanstalk.com",".honestlycurated.com"]
    "aws:elasticbeanstalk:container:python":
        WSGIPath: hc/hc/wsgi.py
        NumProcesses: 1
        NumThreads: 15
    "aws:elasticbeanstalk:container:python:staticfiles":
        "/static/": "www/static/"